[MAIN]
recursive=yes
source-roots=src
suggestion-mode=yes
ignore-paths=.venv
load-plugins=pylint_pydantic
fail-under=8

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        use-implicit-booleaness-not-comparison-to-string,
        use-implicit-booleaness-not-comparison-to-zero,
        missing-docstring